#tablero{
    background: url(/img/car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 638px;
    position: relative;
}
#encender{
    background-color: red;
    width: 55px;
    font-size: 20px;
    border-radius: 90%;
    height: 55px;
    position: relative;
    left: 435px;
    top: 70px;
}
#acelerar{
    background-color: red;
    width: 55px;
    font-size: 20px;
    border-radius: 25%;
    height: 55px;
    position: relative;
    left: 380px;
    top: 350px;
}
#frenar{
    background-color: red;
    width: 60px;
    font-size: 20px;
    border-radius: 25%;
    height: 60px;
    position: relative;
    left: 225px;
    top: 340px;
}
#parqueo{
    background-color: red;
    width: 40px;
    font-size: 20px;
    border-radius: 10%;
    height: 40px;
    position: relative;
    left: 280px;
    bottom: 40px;
}
#frenoMano{
    background-color: red;
    width: 55px;
    font-size: 20px;
    border-radius: 95%;
    height: 55px;
    position: relative;
    left: 350px;
    top: 100px;
}
#izquierda{
    background-color: red;
    width: 55px;
    font-size: 20px;
    border-radius: 95%;
    height: 55px;
    position: relative;
    right: 200px;
    top: 105px;
}
#derecha{
    background-color: red;
    width: 55px;
    font-size: 20px;
    border-radius: 95%;
    height: 55px;
    position: relative;
    left: 80px;
    top: 105px;
}
#distancia-recorrida{
    color: white;
    font-size: 20px;
    position: relative;
    left: 880px;
    top: 100px;
}
#distancia-total{
    color: white;
    font-size: 20px;
    position: relative;
    left: 880px;
    top: 100px;
}
#panel-control{
    color: white;
    font-size: 20px;
    position: relative;
    left: 880px;
    top: 400px;
}
#velocidad{
    color: white;
    font-size: 20px;
    position: relative;
    left: 880px;
    top: 100px;
}
#cambios{
    color: white;
    font-size: 20px;
    position: relative;
    left: 880px;
    top: 100px;
}